@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

#garden_container {
    margin: 0 auto;
    /* max-width: 1000px; */
    overflow-x: auto;
    /* border: 1px solid #666; */
    position: relative;
    /* margin-bottom: 100px; */
}
#garden {
    background-color: #f8f2ef;
    /* width: 1000px; */
}
#garden_title, #coauthor_hall_of_fame {
}
#coauthor_hall_of_fame {
    max-width: 1000px;
    margin: 0 auto;
}
#garden_title {
    margin-top: 50px;
    background: #e5e5f5;
    font-size: 44px;
    line-height: 100px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    color: #213269;
    font-family: "Roboto Condensed";
}
.grass {
    fill: #85b9b1;
}
.clouds {
    fill: #e5e5f5;
}
.stem {
    stroke: #167264;
    stroke-width: 3;
    fill: none;
}
.root_stem {
    stroke: #167264;
    stroke-width: 5;
}
.petal {
    transition: fill 0.2s;
}
.flower {
    cursor: pointer;

}
.flower:hover .flower_subgroup {
    transform: scale(1.2);
    transition: transform 0.2s;
}
.flower:hover .petal {
    opacity: 1 !important;
    cursor: pointer;
}
.selected_flower .flower_subgroup {
    /* make it bigger, but still centered */
    transform: scale(1.5);
    /* animate the transition */
    transition: transform 0.2s;
}
.direction-label {
    font-size: 16px;
    font-weight: 500;
    text-anchor: middle;
    fill: #333;
}
#flower_template {
    display: none;
}
.plant_label0 {
    font-weight: 500;
    font-size: 20px;
}
.plant_label1 {
    font-weight: 300;
    font-size: 18px;
}
.paper_label0 {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}
.paper_label1, .paper_label2, .paper_label3 {
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
}
.left_child_title {
    text-anchor: end;
}
.indirect_connection {
    stroke: rgba(19, 150, 84, 0.25);
    stroke-width: 1;
}
.title {
    font-family: "Roboto Condensed";
    font-size: 50px;
    font-weight: 700;
    fill: #213269;
    text-anchor: middle;
    dominant-baseline: middle;
}

/* coauthor hall of fame */
#coauthor_hall_of_fame {
    margin-top: 20px;
}
#coauthor_title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.coauthor {
    display: inline-block;
    font-size: 18px;
    margin: 5px 0px;
    width: 200px;
    text-align: center;
    line-height: 2.0;
    cursor: pointer;
}
.selected_coauthor {
    font-weight: 500;
    text-decoration: underline;
}
/* paper modal */

#paper_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    max-width: 90vw;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    display: none;
}
#paper_modal_close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

#paper_modal_title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline;
}
#paper_modal_venue {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    display: inline;
}
#paper_modal_content {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#paper_modal_links {
    margin-top: 10px;
    text-align: center;
}
#paper_modal_links a {
    padding: 20px;
    /* margin-right: 20px; */
}
@media (max-width: 768px) {
    #garden_title {
        font-size: 30px;
    }
}