<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ sanjoy webpage }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="sanjoy" content="{{ sanjoy webpage }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Sanjoy Chowdhury (page in progress)
              </h1>
              <p>I am working as a Machine Learning Scientist with the Camera and Video AI team at <a href="https://sharechat.com/about">ShareChat</a>, India 
              </p>
              <p>
                From June 2019 to June 2021, I worked at <a href="https://research.samsung.com/sri-b">Samsung R&D Institute Bangalore</a>, as part of <a href="https://www.intelrealsense.com/">Vision Intelligence Group</a>. I primarily worked on developing novel AI powered solutions for different products at Samsung. 
              </p>
              <p>
                I have an MTech in Computer Science & Engineering (AI focus) from <a href="https://www.iiit.ac.in/">IIIT Hyderabad</a>, where I was a research assistant for <a href="https://ravika.github.io/">Prof. Ravi Kiran Sarvadevabhatla</a> and a teaching assistant for <a href="https://sites.google.com/view/iitkgpakdas/">Prof. Ashok Kumar Das</a> for the courses Statistical Methods in AI and Discrete Mathematics and Algorithms respectively. During my days at IIIT-H, I was fortunate to be advised by <a href="https://faculty.iiit.ac.in/~jawahar/">Prof. C V Jawahar</a>.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="schowdhury671@gmail.com"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/schowdhury671">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=CEdJKCIAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/sanjoy2528/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="../images/IMG-20200202-WA0044.jpg">
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in computer vision, deep learning and related areas
              </p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn/images/jcdl2019.png" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>AudViSum: Self-Supervised Deep Reinforcement Learning for Diverse Audio-Visual Summary Generation</h3>
              <br>
              <strong>Sanjoy Chowdhury</strong> Aditya P. Patra, Subhrajyoti Dasgupta, Ujjwal Bhattacharya

              <br>
              <em>British Machine Vision Conference</em>, 2021
              <br>
              
              <a href="https://github.com/schowdhury671/AudViSum">arxiv</a> /
              
              
              
              <a href="https://github.com/schowdhury671/AudViSum">code</a> /
              
              
              
              <a href="https://github.com/schowdhury671/AudViSum">slides</a> /
              
              <p></p>
              <p>Introduced a novel deep reinforcement learning based self-supervised audio-visual summarization model that leverages both audio and visual information to generate diverse yet semantically meaningful summaries.</p>

            </td>
          </tr>
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn/images/jcdl2019.png" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>Venue Analytics: A Simple Alternative to Citation-Based Metrics</h3>
              <br>
              <strong>Leonid Keselman</strong>

              <br>
              <em>ACM/IEEE Joint Conference on Digital Libraries</em>, 2019
              <br>
              
              <a href="https://arxiv.org/abs/1904.12573">arxiv</a> /
              
              
              
              <a href="https://github.com/leonidk/venue_scores">code</a> /
              
              
              
              <a href="/pdfs/jcdl2019.pdf">slides</a> /
              
              <p></p>
              <p>A bibliometric/scientometric project. Our main two results are a method of assigning value to all venues in computer science and a method to organize them into distinct subfields, all without using citation data. The resulting venue scores can be used to rank universities’ by scholarly output, and produce a responsive author-level metric.</p>

            </td>
          </tr>
          
          </table>
          


        
  </table>
</body>

</html>

